| Hey! Thanks for using the Rubycoin web wallet.
| 
| Here are the instructions you should follow to withdraw your coins:
| 
| 1. Setup a Rubycoin wallet. You can set up an online wallet (from an exchange or lovecrypto.com) or download the Rubycoin client. You can find more information at http://www.rubycoin.org.
| 2. Copy your wallet's address.
| 3. Click the link below, paste your address into the box, and press Withdraw. You're done!
| 
| We hope to see you coming back to mine some more Rubycoins!
| 
| https://webminer.rubycoin.org/withdraw/#{withdraw}
| 
| Note: This link will only work for 24 hours. If you miss it, just try to withdraw again from the home page.
